/* Add CSS Styling */

.odd
{
    background-color: #ffa5a5;
    font-family : 'Verdana', 'DejaVu Sans', 'sans-serif';

}
#even.second
{
    font-size: 36px;
    color:blue;
}

.odd.third
{
    font-size: 24px;
}

#even.f
{
    background-color: aquamarine;
    font-size:24px;
    font-weight: bold;
}