body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;

  padding:2px;
}

.title {
  background: #e3f4ff;
  display:block;
  padding: 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  display:block;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  display:block;
  margin : 10px;
  padding:12px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  text-align:center;
  padding:13px;
  margin:auto;
  padding: 8px 24px;
  
}